
body {
    background-color: gray;
    margin: 10px;
}

#container {
    position: relative;
}

.hex {
    position: absolute;
    width: 60px;
    height: 60px;
}

.tree  {
    position: absolute;
    width: 60px;
    height: 60px;
}

/* toggle classes */
.invisible {
    visibility: collapse;
}

.visible {
    visibility: visible;
}