
body {
    background-color: gray;
    margin: 10px;
}

#container {
    position: relative;
    top: 110px;
}

.hex, .building, .tree, .unit {
    position: absolute;
    width: 60px;
    height: 60px;
}

.tree{
    pointer-events: none;
}

/*Money*/
#moneyDiv {
    background-color: darkgrey;
    position: fixed;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 20px;
    border: 2px solid black;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    text-align: center;
    display: block;
}

/*
#moneyDiv:hover {
    border-color: yellow;
    background-color: lightgrey;
}
*/

#moneyDiv span, img {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: fit-content;
}

#moneyDiv img {
    width: 40px;
}

#money{
    font-size: 30px;
}

#income {
    margin-top: 0px;
    font-size: 15px;
}

/*z indexes*/
.hex {
    z-index: 1;
}
.tree, .building, .unit {
    z-index: 2;
}

/*game button and div styles*/
#gameBtns {
    display: inline-flex;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    position: fixed;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    display: inline-flex;
    width: 60px;
    height: 80px;
    border: 2px solid black;
    cursor: pointer;
    padding: 0px;
    margin: 2px;
    justify-content: center;
    background-color: darkgray;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: lightgray;
}

.button span, .button img {
    align-self: self-end;
    width: 23px;
    height: 23px;
    font-size: large;
}


#farm {
    background-image: url("https://tinkr.tech/sdb_apps/antiyoy/images/building_farm.svg");
    background-size: 60px 60px;
    background-position: top;
    background-repeat: no-repeat;
}

#tower {
    background-image: url("https://tinkr.tech/sdb_apps/antiyoy/images/building_tower.svg");
    background-size: 60px 60px;
    background-position: top;
    background-repeat: no-repeat;
}

#fortress {
    background-image: url("https://tinkr.tech/sdb_apps/antiyoy/images/building_fortress.svg");
    background-size: 60px 60px;
    background-position: top;
    background-repeat: no-repeat;
}

#peasant {
    background-image: url("https://tinkr.tech/sdb_apps/antiyoy/images/unit_peasant.svg");
    background-size: 60px 60px;
    background-position: top;
    background-repeat: no-repeat;
}

#spearman {
    background-image: url("https://tinkr.tech/sdb_apps/antiyoy/images/unit_spearman.svg");
    background-size: 60px 60px;
    background-position: top;
    background-repeat: no-repeat;
}

#baron {
    background-image: url("https://tinkr.tech/sdb_apps/antiyoy/images/unit_baron.svg");
    background-size: 60px 60px;
    background-position: top;
    background-repeat: no-repeat;
}

#knight {
    background-image: url("https://tinkr.tech/sdb_apps/antiyoy/images/unit_knight.svg");
    background-size: 60px 60px;
    background-position: top;
    background-repeat: no-repeat;
}

#endTurnBtn {
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#endTurnBtn span {
    font-size: medium;
    width: auto;
    height: auto;
    align-self: center;
}

/* toggle classes */
.collapse {
    visibility: collapse;
    display: none;
}

.visible {
    visibility: visible;
    display: block;
}

.selected {
    border-color: lightgreen
}

